﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.5.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/modernizr-1.7.min.js")" type="text/javascript"></script>
</head>
<body>
    <div class="page">
        <header>
            <div id="title">
                <h1>My MVC Application</h1>
            </div>
            <div id="logindisplay">
                @Html.Partial("_LogOnPartial")
            </div>
            <nav>
                <ul id="menu">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("MyData", "Index", "MyData")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                </ul>
            </nav>
        </header>
        
        <section id="main">
            <div>
                @Html.Action("GetCategories","MyData")
            </div>
            <hr/>
            @RenderBody()
        </section>
        <footer>
            <hr/>
            @if (IsSectionDefined("tags"))
            {
                @RenderSection("tags", required:false);
            }
            else
            {
                <div>Il n'y a pas encore de catégories de définies</div>
            }
                
        </footer>
    </div>
</body>
</html>
