﻿@using MyWebClient.Site.Models
@model Counter
           
<div>
    <h1>Counter</h1>
    <p>Current Value : <span class="counter-value" data-value="@Model.Value">@Model.Value</span></p>
    <p>Last updated at <span class="counter-modified" data-value="@Model.LastUpdate">@Model.LastUpdate</span>@Model.LastUpdate</p>
    <fieldset>
        <legend>Account Information</legend>

        <div class="editor-label">
            <label for="counterupdate">Enter value:</label>
        </div>
        <div class="editor-field">
            <input name="counterupdate" id="counterupdate" type="number" value=""/>
        </div>
        <div>
            <input type="button" id="addButton" name="addButton" value="Add"/>
            <input type="button" id="removeButton" name="removeButton" value="Remove"/>

        </div>
    </fieldset>
    <div id="message"></div>
</div>

<script>
    $(document).ready(function () {

        $('#addButton').live("click", function () {
            var val = $('#counterupdate').val();
            $.getJSON("/home/plus", { value: val }, function (result) {
                $('.counter-value').html(result.Value);
                $('.counter-modified').html(result.LastUpdate);
            }, function (e) { $('#message').html("err :" + e.Message); });
        });

        $('#removeButton').live("click", function () {
            var val = $('#counterupdate').val();
            $.getJSON("/home/minus", { value: val }, function (result) {
                $('.counter-value').html(result.Value);
                $('.counter-modified').html(result.LastUpdate);
            });
        });

    }
    );
    
</script>