﻿@model IdeasGroup.Domain.Idea

@{
    ViewBag.Title = "Details";
}
<style type="text/css">
    #ideas article { border:black 1px solid}
    #ideas article section.ideaInList{ background-color: gainsboro; }
    #ideas article section.ideaComments div.comment{ background-color:grey;color: white;margin-left: 100px;}
    
    
</style>

<h2>@Html.DisplayFor(modelItem => Model.Title)</h2>


    <article>
            <section class="ideaInList">
                <p> Votes Up : @Model.Votes.Up , Votes Down : @Model.Votes.Down |
                    Published  @Html.DisplayFor(modelItem => Model.Published) | by @Html.DisplayFor(modelItem => Model.Author)
                </p>
                
                <p>
                    @Model.Detail
                </p>
            </section>
            @if (Model.Comments.Count > 0)
            {
                <section class="ideaComments">
                    <h3>Comments (@Model.Comments.Count): </h3>
                    @foreach (var comment in @Model.Comments)
                    {
                        <div class="comment">
                        <i>By <b>@comment.Author</b> at <b>@comment.Published</b> </i>
                        <p>@comment.Content</p>
                        </div>
                    }
                </section> 
            }
            
        </article>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
