﻿@model IEnumerable<IdeasGroup.Models.IdeaListItem>

@{
    ViewBag.Title = "Index";
}


<h2>Ideas</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<section id="ideas">
    @foreach (var item in Model)
    {
        <article>
            <section class="ideaInList">
                <a href="@Url.RouteUrl("Ideas", new { action = "Details", id = item.Id })"><h3>@Html.DisplayFor(modelItem => item.Title)</h3></a>
                <p> Votes Up : @item.VotesUp , Votes Down : @item.VotesDown, Comments : @item.Comments |
                    Published  @Html.DisplayFor(modelItem => item.Published) | by @Html.DisplayFor(modelItem => item.Author)
                </p>
            </section>
        </article>

    }
</section>
