﻿@using IdeasGroup.Controllers
@{
    ViewBag.Title = "Home Page";
}

<h2>@ViewBag.Message</h2>
<p>
    To learn more about ASP.NET MVC visit <a href="http://asp.net/mvc" title="ASP.NET MVC Website">http://asp.net/mvc</a>.
</p>

@(Html.ActionLink<HomeController>(x=>x.About(),"Learn more..."))