﻿@model PartialViewsUsages.Models.ArticleViewModel

@{
    ViewBag.Title = "Articles";
}

<h2>Articles</h2>

@if (Model.Articles != null)
    {
        
    
        <ul>
            @foreach (var article in Model.Articles)
            {
                <li>@article.Name</li>
            }
        </ul>
    }



@section tags {
    <h2>Hello from section</h2>
    @if (Model.Tags != null)
    {
        <ul>
            @foreach (var tag in Model.Tags)
            {
                <li>@tag.Name</li>
            }
        </ul>
    }
}